* {
    margin: 0;
    padding: 0;
}
.outer {
    background-color: rgb(195, 245, 189);
    min-width: 350px;
    width: 100%;
}
.inner {
    padding: clamp(1rem, 5vw,4rem);
    padding-top: 1rem;
    margin: 0rem auto;
    width: 80%;
    height: 100dvh;
    background-color: rgb(166, 213, 245);
}
.inner h1{
    font-size: clamp(3rem, 5vw,4rem);
    color: rgb(253, 109, 42);
}
.navbar{
    margin-top: 0.75rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navlink{
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    height: 2rem;
    color: black;
    text-decoration: none;
    width: 150px;
    background-color: gainsboro;
}