*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-image: url("icon.png"); */
    background-color: rgb(0, 0, 0);
}
.terminal{
    margin: 15vh auto;
    height: 70vh;
    width: 70vw;
    overflow: auto;
    border: 0.25rem solid lime;
    border-radius: 1rem;
    color: white;
}
.Head{
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    background-color: gray;
    border-bottom: 0.25rem solid lime;
    border-radius: 0.75rem 0.75rem 0 0;
}
#content{
    padding: 0.75rem;
}
.inner_line{
    color: green;
    font-size: 1.25rem;
}
.trans{
    color: green;
    font-size: 1.5rem;
}