body {
	background-color: rgba(6, 19, 31, 1);
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

img[alt="vector"] {
	position: fixed;
	right: 0px;
	top: 10vh;
	height: 60vh;
	z-index: -10;
}

img[alt="vector1"] {
	position: fixed;
	left: 10vw;
	bottom: 0px;
	width: 35vw;
	z-index: -10;
}

img[alt="vector2"] {
	position: fixed;
	right: 0px;
	bottom: 0px;
	width: 40vw;
	z-index: -11;
}

.container {
	text-align: center;
}

h1 {
	font-size: 3rem;
	color: rgb(255, 251, 246);
}

.weather-card {
	background: none;
	backdrop-filter: blur(10px);
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0 0 30px rgba(165, 112, 112, 0.1);
	transition: transform 0.3s ease-in-out;
	width: 450px;
}

.weather-card:hover {
	transform: scale(1.05);
	backdrop-filter: blur(5px);
	background-color: rgba(0, 0, 0, 0.1);
}

#city-input {
	padding: 15px;
	margin: 10px 0;
	width: 70%;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

#city-input:focus {
	outline: none;
	border-color: #2196F3;
}

#city-input::placeholder {
	color: #aaa;
}

#city-input-btn {
	padding: 10px;
	background-color: #2196F3;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

#city-input-btn:hover {
	background-color: #1565C0;
}

#weather-info {
	display: none;
}

#temperature {
	font-size: 24px;
	font-weight: bold;
	margin: 8px 0;
}

#description {
	font-size: 18px;
	margin-bottom: 10px;
}

#wind-speed {
	font-size: 16px;
	color: rgb(255, 0, 0);
}

#date {
	font-size: 14px;
	color: rgb(255, 0, 0);
}

.content{
	display: flex;
		justify-content: space-around;
	align-items: center;
}

.glassmorphism{
	backdrop-filter: blur(100%);
	background-color: rgba(255,255,255,0.01);

	height: 10rem;
	aspect-ratio: 1;
	border-radius: 50%;


	display: flex;
	justify-content: center;
	align-items: center;

}