*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aquamarine;
}
.outer{
    margin:0px auto;
    height: 1200px;
    width: 1200px;
    border: 2px solid;
    border-radius: 50px;
}
header{
    background-color: rgb(13, 13, 214);
    height: 100px;
    width: 1180px;
    margin: 10px;
    border-radius: 40px 40px 0px 0px;
    position: fixed;
}
ul{
    display: flex;
    justify-content: space-around;
}
ul>li{
    padding: 20px;
    list-style: none;
    color: white;
    font-size: 48px;
}
main{
    height: 700px;
    width: 1180px;
    background-color: cyan;
    margin: 10px;
    margin-top: 120px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0px 0px 40px 40px;
}
.box{
    height: 600px;
    width: 500px;
    background-color: cadetblue;
    margin: 50px;
}
.content{
    height: 150px;
    width: 1180px;
    background-color: lightseagreen;
    margin: 10px;
    font-size: 60px;
    text-align: center;
    border-radius: 40px;
}
footer{
    height: 200px;
    width: 1180px;
    background-color: lightslategray;
    margin: 10px;
    border-radius: 40px;
}
.logo{
    height: 50px;
    width: 50px;
}
.logo img{
    height: 50px;
    object-fit: contain;
    border-radius: 50%;
    position: fixed;
    right: 10px;
    bottom: 10px;
}