* {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}

body {
    background-color: black;
}

.outer{
    /* width: 100%; */
    overflow: hidden;
}

.header {
    background: url("../img/back1.jpg") scroll no-repeat;
    /* margin: 0px auto; */
    background-color: rgb(88, 88, 88);
    background-blend-mode: multiply;
    background-size: cover;
    width: 100dvw;
    min-height: 768px;
    display: block;
    overflow: hidden;
}

.nav1 {
    width: 82.5dvw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    flex-wrap: wrap;
}

[alt="img1"] {
    height: 60px;
    width: 150px;
}

.right {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    min-height: 85px;
    width: 300px;
}

.lang {
    height: 32px;
    width: 127px;
    text-align: center;
    color: white;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #5f5f5f;
    border-radius: 5px;
    box-sizing: border-box;
}

.signButton {
    height: 32px;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 800;
    color: white;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
}

.content {
    margin: 150px auto;
    width: 80dvw;
    position: relative;
    z-index: 10;
}

.content h1 {
    font-size: 48px;
    color: white;
    text-align: center;
    font-weight: 900;
}

.content .p1 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 16px;
    color: white;
    text-align: center;
    word-wrap: normal;
}

.content .p2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: white;
}

.content form {
    margin-top: 24px;
    max-height: 102px;
    align-self: center;
}

form .enter {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
}

.enter .input {
    height: 56px;
    width: 340px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: 2px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
}

.enter .submit {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: red;
    height: 56px;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.line {
    height: 5px;
    width: 100dvw;
    background-color: #5f5f5f;
}

.display {
    width: 75dvw;
    min-height: 550px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
}

.display .box1 {
    min-height: 140px;
    width: 500px;
}

.display .box1 h1 {
    color: white;
    font-size: 48px;
}

.display .box1 p {
    color: white;
    font-size: 24px;
}

.display .box2 {
    height: 300px;
    width: 500px;
    scale: 0.9;
}

.box2 img {
    height: 300px;
    width: 400px;
    position: absolute;
}

.display .box2 a {
    max-height: 300px;
    width: 300px;
}

.box2 .img2 {
    height: 300px;
    width: 400px;
    position: relative;
}

.box2 video {
    position: relative;
    z-index: -1;
    scale: 0.625;
    top: 10px;
    left: -40px;
}

.b img {
    scale: 1.2;
}

.b video {
    position: relative;
    z-index: -1;
    scale: 0.650;
    top: -37px;
    left: -40px;
}

.c {
    width: 90dvw;
}

.c .img3 {
    width: 500px;
    top: 25px;
    position: relative;
}

.ques h1 {
    color: white;
    font-size: 48px;
}

.box3 {
    margin-top: 30px;
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    /* background-color: #2d2d2d; */
    gap: 15px;
}

.q {
    padding: 0px 20px;
    background-color: #2d2d2d;
    width: 75dvw;
    padding: 20px;
    font-size: 24px;
    font-weight: 500;
    height: min-content;
    border-radius: 5px;
    transition: height 200ms cubic-bezier(.68,-0.55,.27,1.55);
}

.card1 {
    display: flex;
    justify-content: space-between;
    align-items: centers;
    cursor: pointer;
    position: relative;
    /* background-color: #1f1f1f; */
}
.card1 p{
    display: flex;
    align-items: center;
}
.q .card2 {
    width: inherit;
    height: inherit;
    margin-top: 12px;
    position: absolute;
    opacity: 0;
    /* top: 10px; */
    /* height: 300px; */
    /* transition: position 500ms cubic-bezier(.68,-0.55,.27,1.55);  */
}

.card2 p {
    margin-top: 10px;
}

.q .control {
    height: 48px;
    width: 48px;
    display: flex;
    background-color: #2d2d2d;
    justify-content: center;
    align-items: center;
}

.q .close {
    height: 32px;
    position: absolute;
    transform: rotate(45deg);
    transition: all 200ms cubic-bezier(.68,-0.55,.27,1.55);
}

/* .q .open {
    height: 48px;
    position: absolute;
    z-index: 1;
} */

.q img {
    height: 48px;
}

.ques .p2 {
    color: white;
    font-size: 20px;
    text-align: center;
}

.ques form {
    margin: 50px 0px;
}

footer {
    width: 80dvw;
    margin: auto;

}

footer h5 {
    color: #b3b3b3;
    font-size: 16px;
    font-weight: lighter;
    margin: auto;
    padding: 30px;
}

footer .grid {
    margin: auto;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-template-columns: 18dvw 18dvw 18dvw 18dvw;
    grid-template-rows: auto auto auto auto;
    /* grid-template-columns: repeat(auto); */
    gap: 16px 3vw;
    color: #b3b3b3;
    font-size: 12px;
    text-decoration: underline;
}
footer a {
    color: #b3b3b3;
    font-size: 12px;
    margin: 0px 35px;
    text-wrap: nowrap;
    max-height: 30px;
}
footer p {
    color: #b3b3b3;
    font-size: 12px;
    margin: 0px 35px;
    text-wrap: nowrap;
    max-height: 30px;
}
.bottom {
    display: grid;
    grid-template-rows: 50px 20px;
    margin: 20px 20px;
    width: 80dvw;
}
.bottom p {
    margin-left: 0px;
    text-align: left;
    width: 80dvw;
}
@media screen and (max-width:550px) {
    [alt="Backimg1"] {
        filter: brightness(50%);
        position: absolute;
        z-index: 0;
        height: 900px;
        object-fit: cover;
    }
    .header {
        height: 900px;
    }

    .content {
        margin: 100px auto;
    }

    .display .box2 {
        scale: 0.625;
    }
}