* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

img {
    height: 1.75rem;
}

.left {
    width: 20vw;
    height: 100vh;
}

.container {
    position: relative;
    top: 8px;
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.upper {    
    height: 25vh;
    width: 95%;
    border-radius: 0.75rem;
    background-color: #121212;
    overflow: auto;
    display: flex;
    align-items: center;
}

.upper ul li {
    margin-left: 0.25rem;
    list-style: none;
    padding: 5px 10px;
}

.upper ul li a {
    font-size: 1rem;
    display: flex;
    color: white;
    text-decoration: none;
    gap: 0.5rem;
}

.upper ul li a p {
    height: 2rem;
    display: flex;
    align-items: center;
}

/* .upper ul li img{
    height: 1.75rem;
} */
.lower {
    width: 95%;
    height: 65vh;
    border-radius: 0.75rem;
    background-color: #121212;
    overflow: auto;
}

.lower h4 {
    width: 90%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.lower h4 p {
    color: #808080;
    display: flex;
    align-items: center;
}

.lower h4:hover {
    filter: brightness(200%);
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.playlist {
    height: 30vh;
    width: 90%;
    background-color: #5f3a3a;
}
.links{
    display: grid;
    padding: 1rem;
    gap: 0.5rem;
}
a{
    color: white;
}
