* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../images/bg.jpg") no-repeat fixed;
    background-size: cover;
    display: flex;
}

.outer {
    min-height: 100dvh;
    display: flex;
    position: relative;

}

.left {
    flex-wrap: wrap;    
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left-nav {
    flex-basis: 180px;
    width: 20dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-nav h1 {
    font-size: clamp(2rem,3vw,3rem);
    min-height: 150px;
    height: 40%;
    display: flex;
    text-align: center;
    width: 80%;
    color: rgb(0, 255, 234);
    text-shadow: 3px 3px 10px rgb(38, 0, 255);
}

.left-nav-restart {
    font-size: 1.5rem;
    height: 3.375rem;
    width: clamp(8rem,15vw,12.5rem);
    background-color: rgba(0, 0, 255, 0.8);
    border-radius: 0.75rem;
    font-weight: 800;
    color: lime;
    border: none;
    box-shadow: 2px 2px 10px cyan;
}

.left-nav-restart:active {
    box-shadow: none;
}

.left-container {
    height: clamp(300px,43vw,600px);
    margin-top: calc(50dvh - clamp(150px, 45dvh, 300px));
    aspect-ratio: 1;
    background-color: rgba(1, 102, 90, 0.6);
    box-shadow: 10px 10px 100px rgb(5, 161, 70);
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-container-inner{
    height: clamp(282.5px,41vw,565px);
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.left-menu{
    height: 80%;
    width: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.left-menu-inner{
    margin-top: clamp(1rem,1.5vh,2rem);
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: clamp(2.5rem,4.5vw,4rem);
    border-radius: 0.5rem;
}
.left-menu-inner:first-child{
    background-color: rgba(72, 192, 201, 0.438);
    height: 50%;
}
.left-menu-die{
    background-color: white;
    height: clamp(2rem,4.5vw,4rem);
    aspect-ratio: 1;
    border-radius: 0.5rem;
    display: flex;
    overflow: hidden;
    border: 2px solid black;
    box-sizing: content-box;
}
.left-menu-die p{
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(2rem,4.5vw,4rem);
    aspect-ratio: 1;
    transform: translateX(0rem);
    transition: all 0.3s cubic-bezier(.68,-0.55,.27,1.55);
}
.right {
    position: fixed;
    right: -150dvw;
    margin: 0 auto;
    height: 100dvh;
    width: 200px;
    background-color: rgba(2, 60, 79, 0.8);
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* transition: all 0.3s cubic-bezier(.68,-0.55,.27,1.55); */
    transition: all 0.3s ease-in-out;
}

.right h1 {
    font-size: 2rem;
    text-align: center;
    color:white;
}

.right-player-count {
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.right-inner {
    height: 200px;
    width: 180px;
    border-radius: 12px 28px 12px 28px;
    background-color: rgba(217,217,217,0.34);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem,2vw,2rem);
    color: #00ffb7;
    font-weight: bold;
}
.right-mode {
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.row{
    display: flex;
    justify-content: space-around;
}
.box{
    height: clamp(26px,4vw,52px);
    aspect-ratio: 1;
    background-color: rgba(0,17,15,0.6);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    align-items: center;
}
.box::after{
    position: absolute;
    /* z-index: -1; */
    height: clamp(26px,4vw,52px);
    color: rgb(128, 127, 127);
    aspect-ratio: 1;
    display: flex;
    justify-content: right;
    align-items: last baseline;
    font-size: clamp(0.25rem,2vw,1rem);
    font-weight: 600;
    content: attr(data-content);
}
.exit-winner{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    height: 30dvh;
    width: 50dvw;
    border-radius: 1rem;
    background-color: rgba(189, 49, 14, 0.575);
    /* top: calc(50vh - 15vh); */
    top: -150vh;
    left: calc(50vw - 25vw);
    transition: all 0.3s cubic-bezier(.68,-0.55,.27,1.55);
}
.winner{
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}
.player{
    height: clamp(0.75rem,1.5vw,1.5rem);
    aspect-ratio: 1;
    flex-basis: 0.5rem;
}
.burger {
    top: 1rem;
    right: 1rem;
    position: absolute;
    z-index: 2;
    height: 2.5rem;
    aspect-ratio: 1;
    background-color: rgba(255,255,255,0.4);
    border-radius: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* transition: all 0.3s cubic-bezier(.68,-0.55,.27,1.55);      */
    transition: all 0.3s ease-in-out;
}

.line {
    width: 1.75rem;
    height: 0.25rem;
    border-radius: 3px;
    background-color: black;
    transform-origin: center;
    transform: rotate(0deg);
}

.translate:first-child {
    position: absolute;
    transform-origin: center;
    transform: rotate(45deg);
}

.translate:last-child {
    position: absolute;
    transform-origin: center;
    transform: rotate(-45deg);
}

.translate:nth-child(2) {
    display: none;
}

@media screen and (max-width:500px){
    .left-nav{
        width: 100dvw;
        height: 40dvh;
    }
}